main {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    margin: 0;
    height: 100px;
    background-color: #f0f0f0;
}
footer {
    background-color: #f0f0f0;
}
footer div {
    margin: 0 auto;
    margin-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
footer div p {
    font-weight: bolder;
    color: #bf3d3d;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    padding-left: 0; /* Сдвигаем список влево */
}


.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.site-name {
    margin-left: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.authorizationnav {
    margin-right: 30px;
}
.hrefProfile{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.hrefProfile:hover{
    cursor:pointer;
    color:#bf3d3d;
}
.authorizationnav1 {
    margin-right: 30px;
}
#inputPassword {
    border-radius: 6px;
    border: 1px solid black;
    width: 90px;
    font-family: 'Open Sans', sans-serif;
}
#authorizationButton {
    border: none;
    background-color: inherit;
}
#authorizationButton:hover{
    color: #bf3d3d;
    cursor: pointer;
}



.div-anime-list {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#listOfAnime {
    margin-top: 0;
}
.anime {
    display: flex;
}
.listOfAnime-li {
    margin-bottom: 5px;
    border-radius: 10px;
}
.AnimePicture{
    width: 212px;
    height: 300px;
}

.anime-name {
    margin-left: 10px;
    font-size: 20px;
    color: #bf3d3d;
    margin-top: 5px;
    font-weight: bolder;
}
.div-anime-grade {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 65px;
    position: absolute;
    background-color: #e6da57;
    border-bottom-right-radius: 7px;
}
.div-anime-grade img {
    margin-top: auto;
    margin-bottom: auto;
}
.div-anime-grade p {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-weight: bolder;
}

.anime-description {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.anime-information {
    padding-bottom: 7px;
    background-color: #f5f5f5;
    width: 100%;
}
.line_under {
    border-bottom: 1px solid #bf3d3d;
    width: 200px;
    margin-left: 10px;
}
.p-anime-grade {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: -5px;
}






.profile-div-p-input {
    display: flex;
    align-items: center;
}

.profile-p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;
    width: 200px;
}
.profile-inputs {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid black;
    width: 200px;
}
.addAnimeButton {
    margin-left: 30px;
    border: none;
    background-color: inherit;
    font-size: 25px;
    font-weight: bolder;
}
.addAnimeButton:hover{
    color: #bf3d3d;
    cursor: pointer;
}

.anime-profile-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deleteAnimeButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid #bf3d3d;
    margin-left: 30px;
    background: transparent;
    height: 30px;
    margin-right: 50%;
}
.deleteAnimeButton:hover {
    background: #bf3d3d;
    color: white;
}
.line_under1 {
    border-bottom: 1px solid #bf3d3d;
    width: 100%;
    margin-left: 10px;
}

.div-button-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control-sort {
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background: transparent;
}
.form-control-sort1 {
    margin-top: 10px;
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background: transparent;
}